@import "bourbon";
@import "base";
@import "fullPage";

$family: unquote("Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
@import url("http://fonts.googleapis.com/css?family=#{$family}");

$grey:#ECEBE9;
$darkgrey:#c7c7c7;
$white:#fff;
$dark:#232323;
$yellow:#FEF79F;

/** FONTS **********************************/

html, body, p {
	font: 400 16px/1.5em Lato;
	-webkit-font-smoothing: antialiased;
	color:$dark
}

h1, h2, h3, h4, h5, h6,{
	font-family: 'Lato', sans-serif;
	font-style:normal;
	letter-spacing: -0.02em;
}

/** GLOBALS **********************************/
html{
	overflow-y:scroll
}

header {
	display:block;
	top:0;
	height:100px;
	width:100%;
	position: fixed;
	z-index: 99;
	@include transition(opacity 1s ease-out);
}

#hexLogo{
	position: absolute; 
	right: 50px;  
	top:60px;
	width:110px; 
	height: 125px; 
	background:url('../img/core/hex-logo-black.png') no-repeat center top;
	z-index:999;
}
a {
	color:$dark;
	text-decoration:none
}
a:hover, a:focus {
	color:$dark;
	text-decoration:none
}
:hover, :focus {
  outline: none!important;
  text-decoration: none;
}

/** NAV  **********************************/

.nav > li > a {
	padding: 0;
	margin: 0;
}

#mainNav {   
  position: fixed;
  width: 100%;
  display: block;
}

#mainNav ul.nav{ 
	width: 140px;
	top: 220px;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	position: relative;
	float:right;
}

#mainNav a{
	text-decoration:none; 
	color: #232323;
	display: inline-block;
	line-height: 1;
	font-weight:300;
}

#mainNav a:hover, 
#mainNav li.active a{
	font-weight:400;
	letter-spacing :-0.02em;
}

.nav>li>a:focus, 
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent
}
/* name */
li#title-small {
	display:none
}



/*** LOADING **********************************/
body {
	background-color:#232323;
}

@for $i from 1 through 6 {
	@include keyframes(preload-show-#{$i}){
		from{
			@include transform(rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg));					
			border-left-color: $darkgrey;
		}
	}
	@include keyframes(preload-hide-#{$i}){
		to{
			@include transform(rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg));
			border-left-color: $darkgrey;
		}
	}

	@include keyframes(preload-cycle-#{$i}) {
		
		$startIndex: $i*5;
		$reverseIndex: (80 - $i*5);

		#{$startIndex * 1%}{
			@include transform(rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg));
			border-left-color: $darkgrey;
		}
		#{$startIndex + 5%},
		#{$reverseIndex * 1%}{
			@include transform(rotateZ(60* $i + deg) rotateY(0) rotateX(0deg));
			border-left-color: $white;
		}

		#{$reverseIndex + 5%},
		100%{
			@include transform(rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg));
			border-left-color:  $darkgrey;
		}
	}
}

@include keyframes(preload-flip){
	0%{
		@include transform(rotateY(0deg) rotateZ(-60deg));
	}
	100%{
		@include transform(rotateY(360deg) rotateZ(-60deg));
	}
}

.preloader{
	position: absolute;
	left: 50%;
	top:50%;
	font-size: 20px;
	display: block;
	width: 3.75em;
	height: 4.25em;
	margin-left: -1.875em;
  	margin-top: -2.125em;
	@include transform-origin(center center);
	@include transform(rotateY(180deg) rotateZ(-60deg));

	.slice{
		border-top: 1.125em solid transparent;
		border-right: none;
		border-bottom: 1em solid transparent;
		border-left: 1.875em solid $white;
		position: absolute;
		top: 0px;
		left: 50%;
		@include transform-origin(left bottom);
		border-radius: 3px 3px 0 0;
	}

	@for $i from 1 through 6 {
	  .slice:nth-child(#{$i}) { 
	  	@include transform(rotateZ(60* $i + deg) rotateY(0deg) rotateX(0));
	  	@include animation(.15s linear .9 - $i*.08s preload-hide-#{$i} both 1);
	  }
	}


	&.loading{
		@include animation(2s preload-flip steps(2) 1 both);
		@for $i from 1 through 6 {
		  .slice:nth-child(#{$i}) { 
		  	@include transform(rotateZ(60* $i + deg) rotateY(90deg) rotateX(0));
		  	@include animation(2s preload-cycle-#{$i} linear infinite both);
		  }
		}
	}

}
/*** SECTIONS**********************************/

#wrapper{
	position: relative; 
	z-index: 1; 
	overflow:hidden;
	@include transition(opacity .2s ease-out);
}
.invisible {
	opacity:0
}
.section-wrap {
	display: table;
  	table-layout: fixed;
  	width: 100%;
  	height:100%;
  	position:relative;
  	text-align: center;
  	z-index:2
}
.section-inner {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.slide {
	display: table;
  	table-layout: fixed;
 	width: 100%;
}
.slideContent {
	display:table-cell;
	vertical-align: middle;
	width: 100%;
    height: 100%;
}
@media (min-width: 1200px){
	.container {
	  width: 970px;
	}
}


/** Separators **********************************/

hr.grey {
	border:1px solid #B4A4A4;
}
hr.white{
	border:1px solid $white;
}
hr.black{
	border:1px solid $dark;
}
hr.medium {
	width:18rem;
	margin:2em 0 1em
}
hr.large  {
	width:22rem;
	margin:2em 0
}
span.inline {
	height:1px;
	border:0;
	width:4rem;
	display:inline-block;
	margin:4px 0 4px 8px;
	padding:0;
}
span.dash {
	height:1px;
	border:0;
	display:block;
	margin:10px 0 20px;
	padding:0;
}
span.white {
	background-color:$white
}
span.black{
	background-color:$dark
}


/** PARALLAX **********************************/
.bg-color{
	width:100%; 
	position:absolute;
	z-index:0;
	top:100%;
	left:0;
	display:block;
	@include transition(all 1.1s ease-out);
}
.bg-color.bottom {
	background-color:$white;
	margin-top:0;
	height: calc(100%/8);
}
.bg-color.bottom.moveDown {
	margin-top:-27.66%;
}

.bg-color.middle {
	background-color: $white;
	height:calc(100%/2);
	margin-top:0;
}
.bg-color.middle.move {
	background-color: $white;
	margin-top:-22.33%;
	top:100%;
}

.btn{
	display:block; 
	border:none; 
	cursor:pointer;
	z-index: 999;
	position:absolute;
	@include transition(all 1.1s ease-in-out);
}
.clt{
	top:10%;
	left:57%;
	padding:37px 9px 0;
	width:100px;
	height:100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background-color: $white;
	-webkit-box-shadow: 4px 6px 10px -3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 6px 10px -3px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 6px 10px -3px rgba(0, 0, 0, 0.5);
}
#section-network.moveDown .clt{
	top:10%
}
#section-network.moveUp .clt{
	top:80%
}
#section-network.moveUp.active .clt,
#section-network.moveDown.active .clt,
#section-network.active .clt{
	top:55%
}
.clt:hover{
	background-color:$yellow!important;
	-webkit-transition-property:background-color; 
	-webkit-transition-duration: 0.8s; 
	-webkit-transition-timing-function: ease-out; 
	-moz-transition-property:background-color; 
	-moz-transition-duration: 0.8s; 
	-moz-transition-timing-function: ease-out; 
	-o-transition-property:background-color; 
	-o-transition-duration: 0.8s; 
	-o-transition-timing-function: ease-out;
}

.crea{
	top:70%;
	left:49.5%;
	padding:47px 14px 0;
	width:120px;
	height:120px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	border-radius: 60px;
	background-color:$white;
	-webkit-box-shadow: 9px 10px 8px -8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 9px 10px 8px -8px rgba(0, 0, 0, 0.5);
	box-shadow: 9px 10px 8px -8px rgba(0, 0, 0, 0.5);
}
#section-network.moveDown .crea {
	top:80%
}
#section-network.moveUp .crea{
	top:10%
}
#section-network.moveUp.active .crea,
#section-network.moveDown.active .crea,
#section-network.active .crea{
	top:47%
}
.crea:hover{
	-webkit-transition-property:background-color; 
	-webkit-transition-duration: 0.8s; 
	-webkit-transition-timing-function: ease-out; 
	-moz-transition-property:background-color; 
	-moz-transition-duration: 0.8s; 
	-moz-transition-timing-function: ease-out; 
	-o-transition-property:background-color; 
	-o-transition-duration: 0.8s; 
	-o-transition-timing-function: ease-out;
	background-color:$yellow!important
}
.clt span.clients{
	font-size: em(18);
	letter-spacing:0.02em;
	color: #000!important;
	font-weight:300

}
.crea span.creatives{
	font-size: em(18);
	letter-spacing:0.04em;
	color:#000!important;
	font-weight:300
}

.arrow-down {
  position: absolute;
  top: 80%;
  left: 50%;
  margin-left:-34px;
}

.arrow-down span {
	height: 50px;
	width: 50px;
	display: inline-block;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	@include transform(rotate(-45deg));
	@include animation(accent 1s infinite ease-out);
}

@include keyframes(accent) {
	0%   { 
		top: -20px; 
		@include transform(rotate(-45deg) scale(1))
	}
	25% { 
		top: -19px; 
		@include transform(rotate(-45deg) scale(0.9))
	}
	50% { 
		top: -18px; 
		@include transform(rotate(-45deg) scale(0.8))
	}
	75%{ 
		top: -19px; 
		@include transform(rotate(-45deg) scale(0.9))
	}
	100% { 
		top: -20px; 
		@include transform(rotate(-45deg) scale(1))
	}
}

.arrow-down span:hover {	
	-webkit-animation:none;
}

.arrow{
	left:44%;
	color:#000; 
	display:block; 
	height:40px; 
	width:40px;
	background:url('../img/core/arrow-btn.png') no-repeat;
	z-index:999;
	background-position:top center;
	transition:none!important;
}

.arrow:hover{
	background-position:bottom center
}
.arrow:focus{
	outline:none!important
}
#section-services.moveDown .arrow{
	top:90%
}
#section-services.moveUp .arrow{
	top:10%
}
#section-services.moveUp.active .arrow,
#section-services.moveDown.active .arrow,
#section-services.active .arrow{
	top:55%
}

/** TODAY **********************************/
.logo-enter {
	max-height:350px;
	position:absolute;
	top:42%;
	margin-top:-175px;
	margin-left:-151px
}

video { 
	display:block;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	background: url('../img/home/time-lapse.jpg') no-repeat top center;
	background-size: cover;
	-webkit-background-size:cover;
}
/** NETWORK**********************************/
#blurb {
	text-align:left;
	h1 {
		font-size:em(28);
		letter-spacing: -0.01em;
		font-weight: 400;
		margin: 0 0 2.75em;
		.name {
			font-weight: 700;
			font-size:em(66);
			display: block;
			line-height: 1;
  			letter-spacing: -0.04em;
  			padding-bottom: 0.06em;
  			margin-left: -0.06em;
		}
	}
	h2 {
		font-size: em(42);
		font-weight: 300;
		margin:-0.01em 0 1em
	}
	p{
		color:$dark;
		font-weight:500;
		&.lead{
			font-size:em(28);
			padding-top: 3.6em;
		}
		&.col-left{
			@extend .col-md-4;
			padding-right:4px;
		}
		&.col-right {
			@extend .col-md-6;
			padding:0 5em 0 4px;
		}
	}
}

#network-list {
	background-color: $yellow;
	width:100%;
	height:100%;
	.network-wrap {
		padding:4em 0;
		text-align:left;
		.letters {
			@extend .col-md-2
		}
	}
	h1 {
		font-size: em(20);
		margin:0.3em 0 0.5em 0;
		color: $dark;
		font-weight: 300
	}
	a {
		font-weight:400;
		text-decoration: none;
		line-height:1.3;
		font-size:em(14);
		display: block;
	}
	a:hover {
		text-decoration: none;
		color: #000!important;
		background-color: #fff;
	}
}

#clients-list {
	background-color: $yellow;
	width:100%;
	height:100%;
}

#clients-list .item {
	padding-bottom:30px;
	@extend .col-md-2
}

#clients-list .item img { 
	-webkit-box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, 0.5);
	  box-shadow: 5px 5px 6px -6px rgba(0, 0, 0, 0.5);
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: grayscale(1);
	@include transition(all 0.4s ease-out);
	cursor: pointer;
	display: block;
	max-width: 100%;
}
#clients-list .item img:hover{
	-webkit-filter: none!important;
  	filter: none!important;
}

/** SERVICES **********************************/
#section-services{
	h1{
		text-align:left;
		font-weight: 300;
		margin-top: -2em;
		font-size: 34px;
		span.preheader {
		padding-left: 1.1em
		}
		span.header {
			font-size:em(42);
			display: block;
			letter-spacing: -0.02em;
			font-weight: 700;
			margin: -0.2em 0 0 -0.2em
		}
	}
	h3 {
		text-align:left;
		font-weight: 300;
		padding-top:1em
	}
	p{
		color:#232323;
		font-weight:300;
		text-align:left;
		line-height: 1.1;
		&.col-left{
			@extend .col-md-1;
			padding:2px 4px 0 8px;
		}
		&.col-right {
			@extend .col-md-4;
			padding:.1em 5em 0 4px;
		}
	}
}

#services-list{
	background-color:$yellow;
	width:100%;
	height:100%;
	text-align:left;
	.col {
		@extend .col-md-6
	}
	h2{
		font-weight:700;
		font-size:em(24);
		padding-top:10px;
	}
	p{
		margin:0.5em 0;
		font-size:em(15);
		font-weight:300;
		display:block;
		padding-bottom:0.8em;
		span{
			display: block;
  			padding-right: 55px;
			font-size:em(18);
			font-weight: 700
		}
	}
}

/** CONTACT **********************************/
#section-contact{
	.container{
		text-align:left;
	}
	h1{
		color:$dark;
		font-weight: 400;
		font-size:em(124);
		line-height: 0.9;
  		margin: -0.8em 0 0 -0.16em;
		letter-spacing: -0.05em;
	}
	h2 {
		font-size:em(36);
		font-weight: 300;
		color:$dark;
		margin-top: 2em
	}
	p{
		color:$dark;
		font-weight:400;
		text-align:left;
		line-height: 1.2;
		&.col-left{
			@extend .col-md-6;
			padding:0 3em 0 0;
		}
		&.col-right {
			@extend .col-md-6;
			padding:.1em 5em 0 4px;
		}
	}
	a {
		color:$dark;
		font-weight:400;
		display: block;
		padding-top:.25em
	} a:hover {
		text-decoration: none;
	}
}


@media (max-width: 1024px) {

	.section:not(.today) {
		background-color:rgba(236, 235, 233, 0.7)
	}
	.btn:not(.arrow-down) {
		display: none!important
	}
	video {
		display: none
	}
	.video-bg {
		position: fixed;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		background: url('../img/home/time-lapse.jpg') no-repeat top center;
		background-size: cover;
		-webkit-background-size:cover;
	}
	.row {
		margin-right:0;
		margin-left: 0;
	}
	.bg-color.middle {
		height:54%
	}
	.bg-color.bottom {
		display: none
	}
}

@media (max-width: 740px) {
	.logo-enter {
		max-height: 300px;
		margin-left: -130px;
	}
	#blurb h1 .name {
		font-size: 2.125em;
	}
	#blurb p.lead {
		font-size: 1.2em;
		padding-top: 1em;
	}
	#section-services h1 {
		margin-top:0;
		font-size: 30px;
	}
	#section-services h1 span.preheader {
		padding-left:0.3em
	}
	#section-services h1 span.header {
		font-size: 1.5em;
		line-height: 1.3;
		margin: 0;
	}
	#section-contact h1 {
		font-size: 4em;
		margin: 0;
	}
}  

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
      url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
      url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
      url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
      url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}



